@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  background-color: black;
  color: white;
  font-family: "Space Mono", serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

b {
  font-family: "Space Mono", serif;
  font-weight: 700;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 90vw;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(10px, 1fr)
  ); /* Responsive columns */
  grid-gap: 25px; /* 25px gap between dots */
  justify-content: center;
  align-content: center;
  width: 100%;
  max-width: calc(
    25 * 35px
  ); /* Maximum width for 25 dots per row with 25px gap */
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 50%;
  position: relative;
  transition: background-color 0.3s ease;
}

.dot.current {
  background-color: white;
}

.dot:hover {
  background-color: white;
  cursor: pointer;
}

.dot:hover::after {
  content: attr(data-date);
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: black;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 0.8em;
  white-space: nowrap;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: calc(
    25 * 35px
  ); /* Maximum width for 25 dots per row with 25px gap */
  margin-top: 20px;
  font-size: 1em;
}

.footer .year {
  text-align: left;
}

.footer .days-left {
  text-align: right;
}

#days-left-para {
  font-weight: 400;
  color: #4d4d4d;
}

@media (max-width: 600px) {
  .calendar {
    grid-template-columns: repeat(
      auto-fit,
      minmax(8px, 1fr)
    ); /* Smaller dots on small screens */
    grid-gap: 15px; /* Adjusted spacing for small screens */
  }

  .dot {
    width: 8px;
    height: 8px;
  }

  .footer {
    font-size: 0.8em; /* Smaller text on small screens */
  }
}
